---
import { Button } from "@nextui-org/react";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Next UI">
  <Button color="primary" client:visible>My button</Button>
</BaseLayout>
