---
import PicoLayout from "@/components/pico/PicoLayout.astro";
import { Button } from "@nextui-org/react";
---

<PicoLayout pageTitle="Next UI">
  <Button color="primary" client:visible>My button</Button>
</PicoLayout>
