---
import PlayLayout from "../../../components/playground/PlayLayout.astro";
import IndexComponent from "@/components/react/Index";
---

<PlayLayout pageTitle="React">
  <h2>React</h2>
  <IndexComponent client:only="react" />
</PlayLayout>
