* {
  box-sizing: border-box;
}

/* 注册你的自定义字体并告诉浏览器它在哪里 */
@font-face {
  font-family: "AlimamaAgileVF-Thin";
  src: url("/blog/fonts/AlimamaAgileVF-Thin.woff") format("woff");
  font-display: swap;
}

html {
  background-color: #f1f5f9;
  font-family: "AlimamaAgileVF-Thin";
}

html.dark {
  background-color: #000;
  color: #fff;
}

.dark a {
  color: #aaa;
}
