---
import type { IAnimateProps, IClassNameProps } from "@/types";

type Props = IAnimateProps & IClassNameProps;
const { animate = "fade", className, id } = Astro.props;
import { cn } from "@/lib/utils";
---

<h2
  transition:animate={animate}
  id={id}
  class={cn(
    "scroll-m-20 border-b py-2 text-3xl font-semibold tracking-tight first:mt-0",
    className
  )}
>
  <slot />
</h2>
