---
import type {IAnimateProps as Props} from '@/types'
const {animate='fade'} = Astro.props
---
<h2 transition:animate={animate} class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0">
  <slot />
</h2>