---
import type {IAnimateProps as Props} from '@/types'
const {animate='fade'} = Astro.props
---
<h1 transition:animate={animate} class="scroll-m-20 text-2xl font-semibold tracking-tight">
  <slot />
</h1>