---
import PicoLayout from "../../../components/pico/PicoLayout.astro";
import StoreApiKey from "../../../components/vue/StoreApiKey.vue";
import OpenaiModels from "../../../components/vue/OpenaiModels.vue";
import Test from "../../../components/vue/Test.vue";
---

<PicoLayout pageTitle="OpenAI">
  <article>
    <header>Setings</header>
    <StoreApiKey client:only="vue" />
    <OpenaiModels client:only="vue" />
  </article>
  <article>
    <Test client:only="vue" />
  </article>
  <article>
    <header>Functions</header>
    <ul>
      <li>
        <a href="/blog/pico/openai/chart">Chart</a>
      </li>
    </ul>
  </article>
</PicoLayout>

<style>
  :global(.dark) p {
    background-color: #222;
    color: white;
  }
</style>
