---
import PicoLayout from "../../../components/pico/PicoLayout.astro";
import StoreApiKey from "../../../components/vue/StoreApiKey.vue";
import TestToast from "../../../components/react/TestToast";
import ChartGpt from "../../../components/vue/ChartGpt.vue";
import Latex from "../../../components/vue/Latex.vue";

const { completionId } = Astro.props;
---

<PicoLayout pageTitle="OpenAI">
  <article>
    <header>Setings</header>
    <StoreApiKey client:only="vue" />
  </article>
  <article>
    <header>Functions</header>
    <ul>
      <li>
        <a href="/blog/pico/openai/chart">Chart</a>
      </li>
    </ul>
  </article>
</PicoLayout>

<style>
  :global(.dark) p {
    background-color: #222;
    color: white;
  }
</style>
