---
import PlayLayout from "@/components/playground/PlayLayout.astro";
import StoreApiKey from "@/components/vue/StoreApiKey.vue";
import OpenaiModels from "@/components/vue/OpenaiModels.vue";
import Test from "@/components/vue/Test.vue";
---

<PlayLayout pageTitle="OpenAI">
  <article class="flex flex-col gap-4">
    <header>Settings</header>
    <StoreApiKey client:only="vue" />
    <OpenaiModels client:only="vue" />
    <Test client:only="vue" />
    <header>Functions</header>
    <ul>
      <li>
        <a href="/blog/pico/openai/chat">Chat</a>
      </li>
      <li>
        <a href="/blog/pico/openai/chat-react">Chat React</a>
      </li>
    </ul>
  </article>
</PlayLayout>

<style>
  :global(.dark) p {
    background-color: #222;
    color: white;
  }
</style>
