---
import ThemeIcon from "@components/blog/ThemeIcon.astro";
---

<nav class="playground-navigation">
  <ul class="nav-toggle">
    <li aria-label="Toggle Navigation">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-slack"
        ><rect width="3" height="8" x="13" y="2" rx="1.5"></rect><path
          d="M19 8.5V10h1.5A1.5 1.5 0 1 0 19 8.5"></path><rect
          width="3"
          height="8"
          x="8"
          y="14"
          rx="1.5"></rect><path d="M5 15.5V14H3.5A1.5 1.5 0 1 0 5 15.5"
        ></path><rect width="8" height="3" x="14" y="13" rx="1.5"></rect><path
          d="M15.5 19H14v1.5a1.5 1.5 0 1 0 1.5-1.5"></path><rect
          width="8"
          height="3"
          x="2"
          y="8"
          rx="1.5"></rect><path d="M8.5 5H10V3.5A1.5 1.5 0 1 0 8.5 5"
        ></path></svg
      >
    </li>
  </ul>

  <ul class="nav-logo">
    <li><strong><a href="/blog">Blog</a> </strong></li>
  </ul>
  <ul class="nav-menu">
    <li><a href="/blog">Blog</a></li>
    <li><a href="/blog/playground">Home</a></li>
    <li><a href="/blog/playground/react">React</a></li>
    <li><a href="/blog/playground/vue">Vue</a></li>
    <li><a href="/blog/playground/openai">AI</a></li>
  </ul>
  <ul>
    <li class="nav-toggle-theme"><ThemeIcon /></li>
  </ul>
</nav>
<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelector(".nav-toggle")?.addEventListener("click", () => {
      document
        .querySelector(".playground-navigation")
        ?.classList.toggle("expanded");
    });
  });
</script>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .playground-navigation ul li a {
    color: black;
  }
  :global(.dark) .playground-navigation ul li a {
    color: white;
  }
  .nav-toggle {
    display: block;
    cursor: pointer;
  }
  .expanded .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  @media screen and (max-width: 633px) {
    .nav-logo {
      display: none;
    }
    .nav-menu {
      display: none;
    }

    .expanded .nav-toggle-theme {
      display: none;
    }
  }
  @media screen and (min-width: 634px) {
    .nav-toggle {
      display: none;
    }
    .expanded .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    .nav-menu li:first-child {
      display: none;
    }
  }
</style>
