---
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavBar from "@/components/react/FairyNavBar";

const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="layout">
    <NavBar client:only="react" />
    <slot />
  </div>
</BaseLayout>

<style>
  .layout {
    relative: relative;
    min-height: 100vh;
  }
</style>
