---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const pageTitle = "我的Astro博客";
---

<BaseLayout pageTitle={pageTitle}>
  <p>这是我的学习笔记</p>
  <ul>
    {
      allPosts.map((post) => {
        return (
          <BlogPost
            url={`/posts/${post.slug}`}
            title={post.data.title}
          />
        );
      })
    }
  </ul>
</BaseLayout>
