---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
---

<BaseLayout>
  <h2>Climb without fear</h2>
  <img src="blog/images/index.jpg" alt="moutain with snow" />
  <!-- <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} /> -->
</BaseLayout>

<style>
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
</style>
