---
import BlogLayout from "@layouts/BlogLayout.astro";
import { Image } from "astro:assets";
import mountainImage from "@assets/images/index.jpg";
---

<BlogLayout>
  <h2>Climb without fear</h2>
  <Image src={mountainImage} alt="moutain with snow" />
  <!-- <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} /> -->
</BlogLayout>

<style>
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
</style>
