---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getAllPublishedPosts } from "../utils/posts";
const allPosts = (await getAllPublishedPosts())
  .filter((entry) => entry.data.isPublished)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const pageTitle = "Posts";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="posts">
    {
      allPosts.map((post) => {
        return (
          <BlogPost
            url={`/blog/posts/${post.slug}`}
            title={post.data.title}
            pubDate={post.data.pubDate}
          />
        );
      })
    }
  </div>
</BaseLayout>

<style>
  .posts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
</style>
