---
import BlogLayout from "@layouts/BlogLayout.astro";
import BlogPost from "@components/blog/BlogPost.astro";
import { getAllPublishedPosts } from "../utils/posts";
const allPosts = (await getAllPublishedPosts()).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
console.log(allPosts);
const pageTitle = "Posts";
---

<BlogLayout pageTitle={pageTitle}>
  <div class="posts">
    {
      allPosts.map((post) => {
        return (
          <BlogPost
            url={`/blog/posts/${post.id}`}
            title={post.data.title}
            pubDate={post.data.pubDate}
          />
        );
      })
    }
  </div>
</BlogLayout>

<style>
  .posts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
</style>
