---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const pageTitle = "我的Astro博客";
---

<BaseLayout pageTitle={pageTitle}>
  <p>这是我的学习笔记</p>
  <div class="posts">
    {
      allPosts.map((post) => {
        return (
          <BlogPost url={`/blog/posts/${post.slug}`} title={post.data.title} />
        );
      })
    }
  </div>
</BaseLayout>

<style>
  .posts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
</style>
