---
import PicoLayout from "../../../components/pico/PicoLayout.astro";
import JsonPlaceHolder from "../../../components/react/JsonPlaceHolder";
---

<PicoLayout title="React">
  <h2>React</h2>
  <JsonPlaceHolder client:load />
</PicoLayout>
