---
import PlayLayout from "../../../components/playground/PlayLayout.astro";
import JsonPlaceHolder from "../../../components/vue/JsonPlaceHolder.vue";
import IndexComponent from "@/components/vue/Index.vue";
---

<PlayLayout pageTitle="Vue">
  <h2>Vue</h2>
  <JsonPlaceHolder client:load />
  <IndexComponent client:load />
</PlayLayout>
