---

---

<div transition:animate="slide" class="nav-links">
  <a href="/blog">首页</a>
  <!-- <a href="/about/" data-astro-reload>关于</a> -->
  <a href="/blog/about/">关于</a>
  <a href="/blog/posts">博客</a>
  <a href="/blog/tags">标签</a>
  <a href="/blog/pico">Test</a>
</div>

<style>
  /* 导航样式 */
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
  }

  .nav-links a {
    display: block;
    color: #000;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }

  :global(.dark) .nav-links a {
    color: #fff;
  }

  :global(.dark) .nav-links a:hover,
  :global(.dark) .nav-links a:focus {
    color: #000;
    background-color: #fff;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #222;
    color: #fff;
  }

  .expanded {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: block;

      width: auto;
      background: none;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
</style>
