---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PicoNavigation from "./PicoNavigation.astro";

const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="pico-layout">
    <PicoNavigation />
    <slot />
  </div>
</BaseLayout>

<style>
  .pico-layout {
    relative: relative;
    min-height: 100vh;
  }
</style>
