---
import PicoLayout from "../../../components/pico/PicoLayout.astro";
import JsonPlaceHolder from "../../../components/preact/JsonPlaceHolder";
---

<PicoLayout title="Preact">
  <h2>Preact</h2>
  <JsonPlaceHolder client:load />
</PicoLayout>
