---

---

<script>
  import "../../scripts/menu.js";
</script>

<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger {
    padding: 1px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    background-color: #111;
  }
  :global(.dark) .hamburger .line {
    background-color: #fff;
  }
  @media screen and (min-width: 636px) {
    .hamburger {
      display: none;
    }
  }
</style>
