---
interface Props {
  platform: string;
  username: string;
}
const { platform, username } = Astro.props;
---

<a class="socail-link" href=`https://www.${platform}.com/${username}` target="_blank">
  {platform}
</a>

<style>
  .socail-link {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #111;
    text-decoration: none;
  }
  :global(.dark) .socail-link {
    background-color: #666;

    color: white;
  }
</style>
