---
import PicoLayout from "@components/pico/PicoLayout.astro";
---

<PicoLayout pageTitle="Fairyland">
  <main>
    <h1>Fairyland</h1>
    <p>Why is called Fairyland?</p>
    <h2>1.Base land</h2>
    <p>
      The whole website style is based on <code>Pico.css</code>, so I don't have
      to focus on the base style of the website.
    </p>
    <h2>2.Fairy</h2>
    <p>Fairy means something new, something waiting to be discovered.</p>
    <h2>3.Land</h2>
    <p>Land means this is a content website.</p>
  </main>
  <hr />
  <footer>
    <blockquote>
      “Design is a funny word. Some people think design means how it looks. But
      of course, if you dig deeper, it's really how it works.”
      <footer>
        <cite>— Steve Jobs</cite>
      </footer>
    </blockquote>
  </footer>
</PicoLayout>
