---
import PicoLayout from "../../../components/pico/PicoLayout.astro";
import JsonPlaceHolder from "../../../components/vue/JsonPlaceHolder.vue";
---

<PicoLayout pageTitle="Vue">
  <h2>Vue</h2>
  <JsonPlaceHolder client:load />
</PicoLayout>
