---
import PlayLayout from "@/components/playground/PlayLayout.astro";
import { Button } from "@nextui-org/react";
---

<PlayLayout pageTitle="Next UI">
  <Button color="primary" client:visible>My button</Button>
</PlayLayout>
